

.icono{
    
    margin-left: 8px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.contenedor{
    background-color: blue;
    height: 800px;
    width: 100%;
}
.carousel-inner{
    height: 800px;
    width: 100%;
}
.planta{
    background-color: rgb(110, 226, 43);
    width: 100%;
}
.fuego{
    background-color: rgb(255, 69, 0);
    width: 100%;
}
.agua{
    background-color: rgb(135, 206, 250);
    width: 100%;
}
.bicho{
    background-color: rgb(110, 226, 43);
    width: 100%;
}
.normal{
    background-color: rgb(204, 204, 204);
    width: 100%;
}
.veneno{
    background-color: rgb(155, 89, 182);
    width: 100%;
}
.electrico{
    background-color: rgb(247, 220, 111);
    width: 100%;
}


.cuadro1{
    background-color: rgb(90, 160, 252);
}
.cuadro3{
    background-color: rgb(245, 161, 102);
}
.cuadro2{
    background-color: rgb(115, 190, 71);
}
.pokeDex{
    background-image: url(Imagenes/pikachufondo.jpg);
}